.filter {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @include laptop {
        flex-wrap: wrap;
        align-items: flex-start;
    }

    @include mobile {
        margin-bottom: 50px;
    }

    &__group {

        @include laptop {
            flex: 0 0 calc(50% - 25px);
            margin-bottom: 25px;
        }

        @include tablet {
            flex: 0 0 100%;
        }

        p {
            @include font-bold;
            @include font-size(14);
            text-transform: uppercase;
            margin: 0 0 5px 0;
            padding: 0 0 5px 0;
            border-bottom: 1px solid rgba(white, .5);
        }
    }

    &__container {
        display: flex;
    }

    &__field {
        display: flex;
        align-items: center;

        input[type="checkbox"] {
            width: 15px;
            height: 15px;
            margin-right: 10px;
        }

        label {
            @include font-size(14);
            margin-right: 15px;
        }
    }

    &__submit {
        margin-top: 25px;

        @include laptop {
            flex: 0 0 calc(50% - 25px);
            text-align: right;
            margin: 0;
        }

        button[type="submit"] {
            @include button-reset;
            @include font-bold;
            @include font-size(12);
            letter-spacing: .5px;
            text-transform: uppercase;
            color: black;
            padding: 5px 20px;
            background-color: white;
            border: 2px solid white;
            transition: color .3s ease, background-color .3s ease;

            &:hover {
                color: white;
                background-color: transparent;
            }
        }
    }
}
