.loader {

    svg {
        display: inline-block;
        width: auto;
        height: 15px;
        margin-left: 10px;
        fill: white;
        opacity: 0;
        animation-name: opacity;
        animation-duration: 1s;

        &:nth-of-type(2) {
            animation-delay: .5s;
        }

        &:nth-of-type(3) {
            animation-delay: 1s;

        }
    }
}

@keyframes opacity {
    to {
        opacity: 1;
    }
}
