/* general */

html {
    font-size: 18px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    @include font-reg;
    color: white;
    background-color: black;
}

h1 {
    @include font-head;
    @include font-size(52);
    letter-spacing: 2px;

    a {
        color: white;
        text-decoration: none;

        svg {
            display: inline-block;
            width: auto;
            height: 60px;
            fill: white;
            margin-right: 10px;
            vertical-align: -10px;
            transform: rotate(-15deg);
        }
    }

    .city {
        @include font-med;
        letter-spacing: 0;
    }
}

h2 {
    @include font-head;
}

.wrapper {
    width: calc(100% - 100px);
    max-width: 1200px;
    margin: 0 auto 50px auto;

    @include tablet {
        width: calc(100% - 50px);
    }

    @include mobile {
        width: calc(100% - 20px);
    }
}
