/* sidebar */

.sidebar {
    width: 24%;
    max-width: 340px;
    min-height: 100vh;
    color: var(--black);
    padding: 30px 50px 50px 50px;
    background-image: none;
    background-color: var(--white);
    box-shadow: 4px 0 13px 0 rgba(0, 0, 0, 0.2);
    z-index: 99;

    @include laptop {
        position: absolute;
        top: -100vh;
        left: 0;
        width: 100vw;
        max-width: none;
        min-height: 100vh;
        max-height: 100vh;
        padding: 20px;
        box-shadow: 0;
        transition: top 0.3s ease;
        overflow: hidden;
        z-index: 997;
    }

    @include mobile {
        padding: 0;
    }

    &__head {
        @include laptop {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 100px;
        }

        .sidebar-logo {
            display: block;
            margin-bottom: 70px;

            @include laptop {
                display: none;
            }

            svg {
                display: block;
                width: 100%;
                height: auto;

                @include laptop {
                    width: 50%;
                }
            }
        }

        .sidebar-mobile {
            display: none;

            @include laptop {
                display: flex;
                justify-content: flex-end;
            }
        }
    }

    &__login {
        display: none;

        @include mobile {
            display: block;
            min-height: 85px;
            margin: -30px 0 50px 0;
            padding: 20px;
            border-radius: 0 0 18px 18px;
        }
    }

    &__content {
        @include mobile {
            height: calc(100vh - 165px);
            padding: 0 20px 50px 20px;
            overflow: scroll;
        }

        &__search {
            display: none;
            margin-bottom: 50px;

            @include tablet {
                display: block;
            }

            .search-input {
                width: 100%;
                max-width: 300px;
            }

            input[type="search"] {
                padding: 10px 25px;
                background-color: var(--white);
                border: 0;
                border-bottom: 1px solid var(--black);
                border-radius: 0;
                --webkit-appearance: none;
            }

            input[type="search"]::placeholder {
                @include font-size(16);
                color: var(--black);
                opacity: 1;
            }

            .search-icon-center {
                right: 0;
                margin-right: 25px;
                fill: var(--dark-gray);
            }
        }

        &__nav {
            a {
                font-size: 1rem;
                font-weight: 400;
                color: var(--black);
            }

            .sidebar-label {
                @include font-size(18);
                @include line-height(18, 24);
            }

            .router-link-active {
                display: block;
                @include font-reg;
                @include font-size(18);
                font-weight: 400 !important;
                color: var(--black);
                padding: 20px 25px;
                background-color: var(--yellow);
                border-radius: 6px;

                @include laptop {
                    display: inline-block;
                }

                &::before {
                    content: "";
                    display: inline-block;
                    width: 9px;
                    height: 9px;
                    margin-right: 20px;
                    background-color: var(--black);
                    border-radius: 50%;
                }

                svg {
                    display: none;
                }
            }
        }
    }
}
